Q1

In [1]:
import pandas as pd

In [2]:
l = [4,8,15,16,23,42]

In [3]:
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2

In [4]:
import random

In [5]:
var = []

for _ in range(11):
    r = random.randint(0, 90)
    var.append(r)
print(var)

[7, 71, 88, 4, 70, 84, 64, 67, 61, 66, 54]

In [6]:
pd.Series(var)

0      7
1     71
2     88
3      4
4     70
5     84
6     64
7     67
8     61
9     66
10    54
dtype: int64

Q3

In [7]:
data = {
"Name" : ["Alice","Bob","Claire"],
"Age"  : [25,30,27],
"Gender" : ["Female", "Male","Femail"]}

In [8]:
df = pd.DataFrame(data)

In [9]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

Q4

DataFrame is a tabular structure data like csv and excel. And when we extract single column or row from that data is known  as Series. or single row or column of data with index values is known as Series.

In [10]:
data = {
"Name" : ["Alice","Bob","Claire"],
"Age"  : [25,30,27],
"Gender" : ["Female", "Male","Femail"]}

In [11]:
df = pd.DataFrame(data)

Here, you can see the table with contains the structured data in rows and columns. This is pandas DataFrame

In [12]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

In [13]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [16]:
s = df['Age']

In [17]:
s

0    25
1    30
2    27
Name: Age, dtype: int64

In [18]:
type(s)

pandas.core.series.Series

Here, you can see that the series which is single column with index value.

Q5

In [19]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

In [20]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Femail

In [21]:
df.tail(1)

     Name  Age  Gender
2  Claire   27  Femail

In [22]:
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [23]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

SyntaxError: invalid syntax (791285630.py, line 1)

Q7

In [ ]:
import html

In [ ]:
import pandas as pd

In [ ]:
import lxml

In [ ]:
ds = pd.read_html("https://en.wikipedia.org/wiki/2019_Indian_general_election#:~:text=Prime%20Minister%20after%20election&text=The%20Bharatiya%20Janata%20Party%20received,(NDA)%20won%20353%20seats.")

This is DataFrame from url which has multiple series

In [ ]:
type(ds)

In [ ]:
dd = ds[2]

In [ ]:
dd.head()

In [ ]:
pd.DataFrame(ds)

Q6

In [ ]:
As series is one dimentional it is not mutable and DataFrame is multidimensi