Q1

In [1]:
variable = ("Shahbaz", [1,2,3,4], 23.3, (1,2,3,"pwskills"))

In [2]:
variable

('Shahbaz', [1, 2, 3, 4], 23.3, (1, 2, 3, 'pwskills'))

Q2

In [8]:
var1='' #str

In [11]:
var2 = '[ DS , ML , Python]' #str

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ] #list

In [19]:
var4 = 1 #int

Q3

In [33]:
8/2  #The quotient returned by this operator is always a float number, 
     #no matter if two numbers are integers.

4.0

In [28]:
8%3 #MOD OR PERCENTILE OPERATOR IT RETURN REMAINDER

2

In [32]:
8//2 #FLOOR DIVISION
     #The quotient returned by this operator is dependent on the argument being passed. If any of the numbers is float,
      #it returns output in float.

4

In [34]:
4**2 #Power operator

16

Q4

In [45]:
list_10 = [8,9,10,11,(2,3,4),"shahbaz", "hasan", 23.3,(2,2,),{"key":"value"}]

In [46]:
len(list_10)

10

In [57]:
for i in list_10:
    print(i) 
    print(type(i))

8
<class 'int'>
9
<class 'int'>
10
<class 'int'>
11
<class 'int'>
(2, 3, 4)
<class 'tuple'>
shahbaz
<class 'str'>
hasan
<class 'str'>
23.3
<class 'float'>
(2, 2)
<class 'tuple'>
{'key': 'value'}
<class 'dict'>

Q5

In [100]:
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

count = 0

while A % B == 0:
    A = A // B
    count = count + 1

if count > 0:
    print("A is divisible by B")
    print("A can be divided by B", count, "times")
else:
    print("A is not divisible by B")

Enter the value of A:  23
Enter the value of B:  23

A is divisible by B
A can be divided by B 1 times

Q6

In [32]:
l = list(range(0,26))
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [35]:
for i in l:
    if i%3 == 0:
        print(i, "is divisible by 3")    
    else :
        print(i, "not divisible by 3")

0 is divisible by 3
1 not divisible by 3
2 not divisible by 3
3 is divisible by 3
4 not divisible by 3
5 not divisible by 3
6 is divisible by 3
7 not divisible by 3
8 not divisible by 3
9 is divisible by 3
10 not divisible by 3
11 not divisible by 3
12 is divisible by 3
13 not divisible by 3
14 not divisible by 3
15 is divisible by 3
16 not divisible by 3
17 not divisible by 3
18 is divisible by 3
19 not divisible by 3
20 not divisible by 3
21 is divisible by 3
22 not divisible by 3
23 not divisible by 3
24 is divisible by 3
25 not divisible by 3

Q7

In [36]:
#Mutable - Mutable means changable
#Explaination with example

In [39]:
l = [1,2,45.5,"Shahbaz"] #This is the list

In [40]:
l

[1, 2, 45.5, 'Shahbaz']

In [43]:
l[2] = "Hasan" #Here we are changeing float data type with string

In [44]:
l  #This shows list data type is mutable

[1, 2, 'Hasan', 'Shahbaz']

In [45]:
##Immutable means not changeble
#Explaination with example

In [46]:
tuple = (2,3,"pwskills")

In [47]:
tuple[1] = "Hasan"

TypeError: 'tuple' object does not support item assignment

In [48]:
#We can't do it this shows it is immutable

In [49]:
s = "shahbaz"

In [52]:
s[5] = "p"

TypeError: 'str' object does not support item assignment

In [53]:
#Strings are also immutable