Q1

There are two types of comments in python

1.Single line comment = As name itself says the comment can be written for only one line. single line comment can be done by putting the "#" while starting the line. If we want more than 1 line we can put "#" for every new line

In [2]:
#My name is shahbaz Hasan
#pwskills is really doing great work.

2.Multiline comment = As name itself says the comment can be written for multiple lines. It can be done by putting """ (3 inverted commas) at the starting and ending point of comment content.

In [ ]:
"""my name is shahbaz hasan
I will be job ready at the end of the course
I am interested to join ineuron as an intern now"""

Note = The triple quotes can also be use for docstring(documentstring).
The main function of docstring is put comment to ensure the understanding of function for users.

Q2

Variable = Variable are used to store and represent data in python. Variables are the entity given to data which can me called from that variable . A variable is a named location in the computer's memory where data can be stored, accessed, and manipulated during the execution of a program.

Variable_declaration = we can declare a variable by giving it a name. The name should follow certain rules, such as starting with a letter or underscore, and can contain letters, digits, and underscores. The variable name should also be meaningful and descriptive of the data it represents.

Variable assignment = variable assignment can be done by using (= assignment operator). The value can be of any data type

In [ ]:
# String data type
name = "Shahbaz" #here name is a variable

#Int data type
num_1 = 25 #here num_1 is a variable 

#boolean data type
age = True

In this examples we declare name, num_1, age as variables and assigned them the string, int and boolean values respectively

Q3

The conversion of one data type to another in python is known as type conversion. There are two types of type conversion in python.
1.Implicit
2.Explicit

Implicit = Implicit type conversion are the conversion of data type which is done by python by itself(default). we are not doing it manually.Take a look at example

In [2]:
a = 2  #Int
b = 3.4 #Float
c= a+b

In [3]:
c #Float

5.4

In this example you can see the input is int and float but the output is float that is default. this is know as implicit type conversion

Explicit = The explicit type conversion is the conversion of data type in which the conversion is done manually. we can convert the data type as shown in example

In [44]:
#Example1

int(20.3) #Floating is coverted into integer

20

In [47]:
#Example 2

c= tuple("Shahbaz")
print("Here string is converted to tuple = ",c)

Here string is converted to tuple =  ('S', 'h', 'a', 'h', 'b', 'a', 'z')

In [79]:
#Example 3
c = {"name" : "Shahbaz", 2 : 94}
print("Here dictionary is converted to list",list(c.items()))

Here dictionary is converted to list [('name', 'Shahbaz'), (2, 94)]

This are the examples of explicit type conversion. from this examples we can see how we have converted the from one data type to another manually

Q4

The steps are as follows below:

1.Open text editor(sublime) 

2.save as the file as .py extension (myscript.py)

3.write python code (print("Hello World")
save file 

4.open command line interface (cmd)

5.Navigate to directory where you have save the file

6.you can run the Python script by typing python followed by the name of the script file. (python myscript.py)

7.Press enter, the output will be displayed in cmd

Q5

In [81]:
my_list = [1,2,3,4,5]

In [82]:
sub_list = my_list[1:3]

In [83]:
sub_list

[2, 3]

Q6

Complex Numbers = In mathematics the complex number is represented by x + yi. where x is real part and y is imaginary part represented by i.

In python the complex number is represented by a+bj where a is real part and imaginary part is represented by j in python. Here a and b can be integer of floating point interger

In [1]:
#Examples

x = 2 + 9j
y = 3 - 45j

#Here in this example 2 & 3 are real number and 9 & 45 are imaginary number which is represented by j

In [7]:
#We can do operations on complex numbers

c = x+y
c = y*x

In [9]:
type(c)

complex

In [11]:
#We can also extract real and imaginary part from complex numbers

c.real  #Extracting real part

c.imag  #Extracting imaginary part

-36.0

Q7

The correct way to declare variable name age and assign the value as 25 is as follow

In [12]:
age = 25

In this code, age is the variable name, and 25 is the value assigned to the variable. The assignment is done using the assignment operator (=). Once the value is assigned, the variable age holds the value 25 and can be used in subsequent code.

Q8

In [13]:
price = 9.99T

In [14]:
type(price)

float

This data type belong to data type float

Q9

In [15]:
name =  "Shahbaz Hasan Anwarul Hasan Sheikh"

In [16]:
print(name)

'Shahbaz Hasan Anwarul Hasan Sheikh'

By using print function & calling the variable name which is given as (name) we can print the value of variable.

Q10

In [27]:
q10 = "Hello, World!"

In [29]:
s = q10[7:200]

In [30]:
s

'World!'

Q11

In [37]:
is_student = False

In [38]:
is_student

False